# Секретный ключ Django
SECRET_KEY=

# Режим дебага (указать "True", иначе всегда будет "False")
DEBUG=

# Настройки подключения к базе данных 
NAME=
USER=
PASSWORD=
HOST=
PORT=

ALLOWED_HOSTS=

# Настройки подключения к Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Брокер для celery 
CELERY_BROKER_URL=


# Токен телеграмма
TELEGRAM_BOT_TOKEN=

# Номер чата с ботом
CHAT_ID=
